extends layout

block content
  if(!currentUser)
    p Log in to make a post
  if(currentUser)
    a.btn.btn-success.mb-3(href='/new-post') New post
  if(posts)
    if(!currentUser || currentUser.membershipStatus === 'user')
      each post in posts 
        .card.mb-3 
          .card-header Unknown author
          .card-body 
            h5.card-title #{post.title}
            p.card-text #{post.content}
            p.text-end.mb-0 date
    if(currentUser && currentUser.membershipStatus === 'member')
      each post in posts 
        .card.mb-3 
          .card-header #{`${post.user.firstName} ${post.user.lastName}`}
          .card-body 
            h5.card-title #{post.title}
            p.card-text #{post.content}
            p.text-end.mb-0 #{post.date.toLocaleString()}
    if(currentUser && currentUser.membershipStatus === 'admin')
      each post in posts 
        .card.mb-3 
          .card-header.d-flex.justify-content-between.align-items-center
            p.m-0 #{`${post.user.firstName} ${post.user.lastName}`}
            form.d-flex.align-items-center(action=`/${post._id}/delete`, method="post") 
              button.btn-close(type='submit' data-bs-toggle="tooltip" data-bs-placement="top" title="Delete post")
          .card-body 
            h5.card-title #{post.title}
            p.card-text #{post.content}
            p.text-end.mb-0 #{post.date.toLocaleString()}

